---
import BlogPost from '../../layouts/BlogPost.astro';
import BLOG_POSTS from "../../posts.json";

import Visualizer from "../../components/blogs/network-conditions-visualized/Visualizer.svelte";
import SendNetworkLogsVisualizer from "../../components/blogs/network-conditions-visualized/templates/SendNetworkLogsVisualizer.svelte";
import NoSmoothingStutteringComparison from "../../components/blogs/network-conditions-visualized/templates/NoSmoothingStutteringComparison.svelte";
import PacketLossPingVisualization from "../../components/blogs/network-conditions-visualized/templates/PacketLossPingVisualization.svelte";
import PlayerMarker from "../../components/blogs/network-conditions-visualized/PlayerMarker.svelte";
---
<BlogPost data={BLOG_POSTS["network-conditions-visualized"]}>
    <p>
        In the <a href="https://discord.gg/vailvr">VAIL VR discord</a> I often see people complain about network conditions and just blame it on ping to the point where people are blaming frame drops on ping.
        This annoys me <i>slightly</i> so I've decided to bite the bullet and write some frontend code to visualize what the different network conditions <i>actually</i> does to your gameplay.
    </p>
    <h2>Lets take a step back</h2>
    <p>
        Right so as I will be sharing this in the <a href="https://discord.gg/vailvr">VAIL VR discord</a> whenever someone who don't know how games networking works complains about something and blames it on netcode or just tells the devs to "just magically fix netcode"<a href="#footnote-pls-fix-netcode">¹</a>,
        I need to consider that they probably aren't massive networking nerds. So lets go through some basic stuff:<br/>
        Your position isn't magically sent smooth to all the other players for performance reasons. It is instead sent as individual position ticks at a fixed tick rate<a href="#footnote-what-is-tickrate">²</a>
    </p>
    <SendNetworkLogsVisualizer client:visible />
    <p>
        The <PlayerMarker color="red" /> local player is smooth as we know what the position is every frame.
        This is different for the <PlayerMarker color="blue" /> remote player, which will only be updated once per tick.
    </p>
    <NoSmoothingStutteringComparison client:visible /> 
    <p>
        Vail runs at 60<a href="#footnote-vails-tickrate">³</a> ticks per second, which does look fine enough in the ideal conditions we have right now.
        But unfortunately data doesn't magically instantly transport to anywhere in the world, so we have things like ping and packetloss.
    </p>
    <PacketLossPingVisualization client:visible />
    <h2>Footnotes</h2>
    <ol class="footnotes">
        <li id="footnote-pls-fix-netcode"><a href="https://discord.com/channels/710682414225162301/1223413597435072653">cough cough</a></li>
        <li id="footnote-what-is-tickrate">Tick rate is how many times a spesific action should be ran. Minecraft for example does all its game logic 20 times per second.</li>
        <li id="footnote-vails-tickrate"><a href="https://discord.com/channels/710682414225162301/1223413597435072653/1223982256431824986">Vail's tickrate confirmed by aoud</a></li>
    </ol>
</BlogPost>
