---
import BaseHead from '../../components/BaseHead.astro';
import BlogInfo from '../../components/BlogInfo.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getTags, getReleasedPosts } from "../../posts";
export function getStaticPaths() {
    return getTags().map(tag => {return {params: {tag: tag}}});
}

const { tag } = Astro.params;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
            <div class="posts">
                {
                    getReleasedPosts().filter(post => post.tags.includes(tag)).map((post) => (
                        <BlogInfo post={post} />
                    ))
                }
            </div>
		</main>
	</body>
</html>
