---
import BaseHead from '..//components/BaseHead.astro';
import BlogInfo from '..//components/BlogInfo.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getReleasedPosts } from "../posts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
            <div class="posts">
                {
                    getReleasedPosts().map((post) => (
                        <BlogInfo post={post} />
                    ))
                }
            </div>
		</main>
	</body>
</html>
