---
import { codeToHtml } from 'shiki'
const { code, language } = Astro.props;

let html = codeToHtml(code, {
    lang: language,
    theme: "min-dark"
});
---

<style>
    .source {
        width: 100%;
        overflow-y: scroll;
    }
</style>

<div class="source" set:html={html}></div>
